<!-- Remove the container if you want to extend the Footer to full width. -->
    <footer class="bg-primary mt-4">
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-white">
                    <h5 class="mb-3 text-white">LaPoêlée c'est quoi ?</h5>
                    <p>
                        LaPoêlée est un site communautaire ayant pour but de partager ses recettes favorites à tous.
                        Vous pouvez vous même commencer à créer vos recettes en vous inscrivant ou juste parcourir les recettes déjà présentes.
                    </p>
                    <p>
                        Si vous souhaitez nous contacter, vous pouvez le faire <a class="text-white" href="{{ path('contact.index') }}">ici</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center p-3 bg-primary text-white">
            © 2023 Copyright: 
            <a class="text-white" href="https://github.com/jeremybreant">Bréant Jérémy</a>
        </div>
    </footer>
<!-- End of .container -->