{% macro displayMarkWithStar(mark) %}
    <div>
        {% for i in 1..mark %}
            <span class="fa fa-star text-warning"></span>
        {% endfor %}
        {% if mark != 5 %}
            {% for i in 1..5-mark %}
                <span class="fa fa-star"></span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}