{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Symfony recipes</h1>
            <p class="lead">SymfonyRecipes est une application permettant de créer des recettes. Elles pourront être partagées à la communauté du site... ou pas.</p>
            <hr class="my-4">
            <p>Mais avant cela, il va falloir t'inscrire !</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
        </div>
    </div>
{%  endblock %}