{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Site d'administration de LaPoêlée{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('home') }}">Retourner au site</a>
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Some Column</td>
            <td>Another Column</td>
        </tr>
        </thead>
        <tbody>
{#
        {% for data in my_own_data %}
            <tr>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
#}
        </tbody>
    </table>
{% endblock %}