{% extends './pages/recipe/index_template.html.twig' %}

{% block recipe_variations %}
<h1 class="text-center">{{ keyword }}</h1>
<h4 class="text-center text-secondary">Résultat - {{ totalCount }} recettes</h4>
{% endblock %}