{% extends 'base.html.twig' %}
{% import "macros/recipe/recipeCard.html.twig" as recipeCard %}

{% block title %}StmfonyRecipes - Les recettes{% endblock %}

{% block body %}
    {% if main_category is defined %}
        <h1>Recettes {{ main_category.name }}</h1>
    {% else %}
        <h1>Recettes de la communauté</h1>
    {% endif %}
    {% block recipe_tags %}
    {% endblock %}
    {% if recipes.items is same as([]) %}
        <h4>Il n'y a pas de recette</h4>
    {% else %}
        <div class="row justify-content-center">
            {% for recipe in recipes %}
                <div class="col col-lg-3 col-md-6 col-sm-6 col-10 p-4">
                    {{ recipeCard.displayRecipeCard(recipe) }}
                </div>
            {% endfor %}
        </div>
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(recipes) }}
        </div>
    {% endif %}
{% endblock %}
