<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('user_theme') }}
            <link rel="stylesheet" href="./assets/user/css/theme.min.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('user_theme') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
