
.custom-btn-group-text{
    pointer-events: none;
}

.custom-img-1-1{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.custom-img-3-2{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.custom-neutral{
    color: var(--bs-body-color);
    text-decoration: none;
}
.custom-neutral:hover{
    color: var(--bs-body-color);
    text-decoration: none;
}

.custom-img-size-40{
    height: 40px;
    width: 40px;
}

.custom-color-pink{
    color: var(--bs-pink) !important;
}

.custom-border-pink{
    border-color: var(--bs-pink) !important;
}

.custom-heart{
    width: 45%;
    height: 45%;
}

.custom-fav-button{
    width: 45px;
    height: 45px;
    aspect-ratio: 1/1;
}
@media only screen and (max-device-width: 767px) {
    /* Ajoute 5px à toutes les tailles */
    .custom-fav-button{
        width: 70px;
        height: 70px;
    }
  }

.custom-card-top-right-corner{
    top: 10px;
    right: 10px;
}


/* Styles pour les appareils de petite taille */
@media only screen and (max-device-width: 767px) {
    /* Ajoute 5px à toutes les tailles */
    html {
      font-size: calc(1rem + 10px);
    }
  }