
.custom-btn-group-text{
    pointer-events: none;
}

.custom-img-1-1{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.custom-img-3-2{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.custom-neutral{
    color: var(--bs-body-color);
    text-decoration: none;
}
.custom-neutral:hover{
    color: var(--bs-body-color);
    text-decoration: none;
}

.custom-img-size-40{
    height: 40px;
    width: 40px;
}

.custom-color-pink{
    color: var(--bs-pink) !important;
}

.custom-border-pink{
    border-color: var(--bs-pink) !important;
}

.custom-heart{
    width: 45%;
    height: 45%;
}

.custom-fav-button{
    width: 45px;
    height: 45px;
    aspect-ratio: 1/1;
}
@media only screen and (max-device-width: 992px) {
    /* Ajoute 5px à toutes les tailles */
    .custom-fav-button{
        width: 70px;
        height: 70px;
    }
  }

.custom-card-top-right-corner{
    top: 10px;
    right: 10px;
}

.custom-card-bottom-left-corner{
    bottom: 10px;
    left: 10px;
}

.custom-no-pointer-event{
    pointer-events: none;
}

.custom-over-image-tag{
    opacity: 90%;
    background-color: black;
}


/* Styles pour les appareils de petite taille */
@media only screen and (max-width: 992px) {
    /* Ajoute 5px à toutes les tailles */
    html {
      font-size: calc(250%);
    }

    .custom-img-size-40{
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .largescreen{
        display: none;
    }

    .logo{
        max-width: 70px;
        max-height: 70px;
        margin-left: 10px;
        margin-right: 10px;
    }
  }

@media only screen and (min-width: 992px) {
    .smallscreen{
        display: none;
    }

    .logo{
        max-width: 60px;
        max-height: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.custom-rounded-end-5 {
    border-top-right-radius: var(--bs-border-radius-2xl) !important;
    border-bottom-right-radius: var(--bs-border-radius-2xl) !important;
  }

.custom-rounded-start-5 {
    border-bottom-left-radius: var(--bs-border-radius-2xl) !important;
    border-top-left-radius: var(--bs-border-radius-2xl) !important;
  }

.custom-border-right-0 {
    border-right: 0;
  }

.custom-border-left-0 {
    border-left: 0;
  }

.custom-no-form-input-focus:focus{
    box-shadow: 0 0 0 0 !important;
    border-color: var(--bs-border-color);
}

.custom-pr-1 {
    padding-right: 0.25rem !important;
  }

.custom-pr-2 {
    padding-right: 0.5rem !important;
  }

.custom-mt-navbar{
    margin-top: 10rem;
}

a.custom-anchor{
    display: block;
    position: relative;
    top: -7rem;
    visibility: hidden;
}