{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Formulaire de connexion</h1>
    {% if error %}
        <div class="alert alert-dismissible alert-danger mt-4">
            <strong>Erreur :</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path('security.login') }}" method="post" name="login">
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Adresse email</label>
            <input type="email" class="form-control" id="username" name="_username" aria-describedby="emailHelp"
                   placeholder="exemple@lapoelee.fr" value="{{ last_username }}">
            <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre adresse mail à d'autres.</small>
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-4">Mot de passe</label>
            <input type="password" class="form-control" name="_password" id="password" placeholder="*********">
        </div>
        <button type="submit" class="btn btn-primary mt-4">
            Se connecter
        </button>
    </form>
{% endblock %}
